body {
  background: #f8f9fa !important;
}

.sidebar {
  z-index: 100;
  margin-top: 87px;
  border-radius: 8px;

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    max-height: 100%;
    
    &::-webkit-scrollbar {
      width: 0px;
    }  

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      position: -webkit-sticky;
      position: sticky;
    }

    .statistics-period-selector {
      display: flex;
      justify-content: center;

      .dropdown-toggle {
        border: 0;
        outline: none;
        background: #607d8b;
        color: #fff;
        font-size: 14px;
        margin-top: 10px;
        padding: 5px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
          background: #546e7a;
        }

        &:active {
          box-shadow: 0 0 0 0.2em #b0bec5;
        }
      }

      .dropdown-content {
        display: flex;
        flex-direction: column;

        .item {
          outline: none;
          border: 0;
          background: #fff;
          padding: 5px 15px;
          min-width: 100px;
          transition: all 0.1s ease;
          border-radius: 4px;

          &:hover {
            background: #eceff1;
          }

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }

    .statistics-holder {
      margin-top: 20px;

      .stats-card {
        position: relative;
        overflow: hidden;
        background: #eceff1;
        padding: 10px 20px;
        border-radius: 8px;
        min-height: 125px;

        .content {
          p {
            font-size: 14px;
            font-weight: 500;
          }

          span.number {
            font-size: 45px;
            font-weight: bold;
          }
        }

        svg {
          position: absolute;
          right: -6%;
          bottom: -13%;
          font-size: 80px;
          opacity: 0.5;
          transform: rotate(7deg);
          width: 100px;
          height: 100px;
        }

        &.succeeded {
          background: #dcedc8;

          .content {
            span.number {
              color: #8bc34a;
            }
          }

          svg {
            color: #8bc34a;
          }
        }

        &.failed {
          background: #ffe0b2;

          .content {
            span.number {
              color: #fb8c00;
            }
          }

          svg {
            color: #fb8c00;
          }
        }

        &.declined {
          background: #ffcdd2;

          .content {
            span.number {
              color: #f44336;
            }
          }

          svg {
            color: #f44336;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    li.nav-item {
      display: flex;
      align-items: center;
      padding: 0 0 0 10px;
      border-radius: 14px;

      &.--active {
        .nav-link {
          color: #007bff;
        }
      }

      svg {
        min-width: 20px;
      }

      .nav-link {
        font-weight: 500;
        color: #333;
        width: 100%;
      }
    }
  }
}

#top-navigation {
  ul.navbar-nav {
    li.notifications {
      span {
        outline: none;
      }

      svg.fa-bell {
        color: #9e9e9e;
        cursor: pointer;
      }

      &.--animate {
        svg.fa-bell {
          animation: ring 4s 0.7s ease-in-out infinite;
          transform-origin: 50% 4px;
          color: #f57c00;
        }
      }
    }
  }

  .notifications-holder {
    .notification {
      padding: 10px;
      border: 1px solid #eee;
      border-radius: 8px;

      .description {
        color: #90a4ae;
        text-align: center;
        font-size: 16px;
      }

      &.two-fa {
        input {
          max-width: 85px !important;
        }
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.navbar {
  a.navbar-brand {
    @media (min-width: 0) and (max-width: 768px) {
      width: 50% !important;
    }
  }
}

/*
* Content
*/

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/**
* Statistics
*/

.history-holder {
  .card {
    transition: transform 0.3s ease, opacity 0.3s ease;
    min-height: 90px;
    border-radius: 8px;
    border: 1px solid #eee;

    &.entering {
      transform: translateY(-15px) scale(0.9);
      opacity: 0;
    }

    .card-header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      font-size: 14px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-color: #eee;
    }

    .card-body {
      @media (min-width: 0) and (max-width: 768px) {
        flex-direction: column;
      }

      .image-holder {
        img {
          @media (min-width: 0) and (max-width: 768px) {
            height: 50px;
            width: auto !important;
            margin-bottom: 10px;
          }
        }
      }

      .route {
        @media (min-width: 0) and (max-width: 768px) {
          flex-direction: column;
        }
      }
    }

    .images-holder {
      border-top: 1px solid #eee;

      .image + .dropzone {
        width: 175px;
        height: 100px;
        border: 2px dashed #eee;
        border-radius: 10px;
        cursor: pointer;
        transition: border-color 0.3s ease;
        padding: 5px;
        text-align: center;
        display: flex;
        align-items: center;

        &:hover {
          border-color: #cfd8dc;
        }

        &.--dragged {
          border-color: #03a9f4;
        }

        p {
          margin: 10px 0;
          font-size: 14px;
          color: #90a4ae;
        }
      }

      &.--no-images {
        margin: 5px !important;
        border: 2px dashed #eee;
        padding: 0;
        border-radius: inherit;
        cursor: pointer;
        transition: border-color 0.3s ease;

        &.--dragged {
          border-color: #03a9f4;
        }

        &:hover {
          border-color: #cfd8dc;
        }

        .dropzone {
          width: 100%;
          text-align: center;

          p {
            margin: 10px 0;
            font-size: 14px;
            color: #90a4ae;
          }
        }
      }

      .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 100px;
        width: 100%;
        border-radius: 10px;
        position: relative;

        > svg {
          position: absolute;
          right: 3px;
          top: 3px;
          background: #fff;
          padding: 0px;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          cursor: pointer;
          padding: 3px;
          color: #607d8b;
          transition: color 0.3s ease;

          &:hover {
            color: #f44336;
          }
        }
      }
    }
  }
}
